<section id="apoie">
            <h2>Sua contribuição ajuda a manter nossas ações de resgate, vacinação e campanhas de adoção responsável. </h2>

            <h3>Como você pode ajudar:</h3>

            <ul>
                <li> - Ração, medicamentos ou cobertores</li>
                <li> - Contribuindo financeiramente</li>
                <li> - Nos seguindo nas redes sociais e divulgando nosso trabalho</li>
            </ul>

            <form id="apoio">
                <fieldset>
                    <legend>Informe seus dados e como deseja apoiar</legend>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome-apoio" name="nome-apoio" required>

                   <label for="email">E-mail:</label>
                   <input type="email" id="email-apoio" name="email-apoio" required>

                    <label for="tipo_apoio">Como deseja apoiar?</label>
                    <select id="tipo_apoio" name="tipo_apoio" required>
                        <option value="">Selecione</option>
                        <option value="financeiro">Doação financeira</option>
                        <option value="itens">Doação de ração, medicamentos ou cobertores</option>
                    </select>
                </fieldset>

                <fieldset>
                 <legend>Doações de Itens</legend>
                    <p>
                        Caso sua doação seja de ração, medicamentos ou cobertores, você pode entregar pessoalmente em nossa unidade:
                    </p>
                    <p>
                        <strong>Endereço:</strong> Rua das Acácias, 142 — Jardim das Flores/ São Paulo — SP, CEP 04567-123  
                        <br><strong>Horário de funcionamento:</strong> Segunda a sexta-feira, das 9h às 17h.
                    </p>
                </fieldset>
                <button type="submit">Enviar</button>
            </form>
            <p id="mensagem-apoio"></p>
        </section>