    <section class="hero">
        <div class="hero-content">
             <h1>Quem somos </h1>
              <p>Somos uma ONG dedicada ao resgate, reabilitação e adoção responsável de animais em situação de abandono, maus tratos ou risco. Acreditamos que cada vida importa, e por isso, trabalhamos todos os dias
                para devolver amor, dignidade e uma nova chance a cães e gatos que um dia foram esquecidos. Com a ajuda de Voluntários, doações e parceiros, oferecemos cuidados veterinários, abrigo temporário e muito
                carinho, até que cada um encontre um lar definitivo. Nosso sonho é simples, mas poderoso: um mundo onde todos os animais sejam respeitados e protegidos. </p>
            <strong>ADOTE, APADRINHE OU CONTRIBUA.</strong>
            <p>Você também pode fazer parte dessa transformação!</p>
            <a href="#cadastro" data-section="cadastro" class="btn-primary"> Quero ser um voluntário</a>
        </div>
    </section>

       
            <section class="hero">
            <div class="hero-content">
            <h1>MISSÃO, VISÃO E VALORES</h1>
            <h3>MISSÃO</h3>
            <p>Promover o resgate, acolhimento e reabilitação de animais em situação de abandono ou maus-tratos, garantindo cuidado, amor e dignidade.
            Além disso, buscamos educar a comunidade sobre o respeito e a responsabilidade com os animais, inspirando atitudes que transformem vidas.</p>
            <h3>VISÃO</h3>
            <p>Construir um futuro em que nenhum animal seja invisível, e onde cada um tenha o direito a uma vida segura, saudável e cheia de afeto.
            Sonhamos com uma sociedade mais consciente, solidária e compassiva, onde humanos e animais convivam em harmonia.</p>
            <h3>VALORES</h3>
            <p>Amor e respeito pela vida – cada vida importa e merece cuidado.</p>
            <p>Educação e conscientização – acreditamos que o conhecimento é o primeiro passo para a mudança.</p>
            <p>Empatia e solidariedade – juntos, podemos fazer a diferença.</p>
            <p>Transparência e responsabilidade – atuamos com ética, clareza e compromisso.</p>
            <p>Adoção responsável – acreditamos em lares cheios de amor, não apenas de abrigo.</p>
        </section>