 <section class="hero">
        <div class="hero-content">
            <h1>NOSSOS PROJETOS</h1>
            <h3>CUIDAR, EDUCAR E TRANSFORMAR</h3>
            <p>Acreditamos que o verdadeiro resgate começa com consciência e empatia. Por isso além de acolher e cuidar dos animais, desenvolvemos ações que promovem a educação e o respeito em toda comunidade.
                Entre nossas iniciativas estão: Campanhas sobre conscientização, sobre guarda responsável e bem estar animal, levando informação clara e acessível à população; Campanhas de Castração Móvel por bairros da cidade; Campanhas de vacinação;
                Produção e distribuição de folhetos educativos, orientando sobre cuidados básicos, vacinação, Castração e combate aos maus tratos; Projetos em escolas do bairro, onde levaremos palestras, atividades lúdicas e momentos de aprendizado,
                ensinando às crianças o valor da empatia e da proteção aos animais.
            </p>
            <p>Cada projeto é uma oportunidade de plantar sementes de amor e responsabilidade, construindo um futuro onde humanos e animais vivam em harmonia.</p>

            <h3>Quer trazer um projeto nosso para sua escola, empresa ou comunidade? Entre em contato e faça parte dessa corrente de transformação.</h3>
<hr>
<h2>Promovemos campanhas de conscientização atraves de entregas de folhetos informativos a população e também realizamos campanhas de vacinação e castração regularmente. Levando cuidado, informação e amor as famílias e os animais.</h2>
        </section>
        
        <article>
           
                Folheto de campanha de conscientização com informações essenciais para o cuidado adequado com os animais domesticos.
                <figure> <img src="img/Panfleto - Posse Responsável Proteja os Animais.png" width="296" height="350" alt="folheto com informação de cuidados com o animal"></figure>
        </article>
        <article>
         
                Folheto de campanha para posse responsável dos animais de estimação.
                <figure> <img src="img/Panfleto - Posse Responsável é Amor (1).png" width="296" height="350" alt="folheto informativo sobre amor e cuidado com os animais domestico,conscientizando sobre vacinação e castração."></figure>
           
        </article>
       <section class="hero">
        <div class="hero-content">
            <h2>Campanhas de Vacinação e Castração</h2>
            <p>Promovemos campanhas de vacinação e castração que levam amor, cuidado e informação aos animais e às comunidades da nossa cidade, fortalecendo a conscientização e o respeito por todas as formas de vida.</p>
            <img src="img/cuidados1.jpg" width="250" height="230" alt="imagem mostra ação de cuidados de saúde com os animais, veterinários cuidando de cães e gatos">
       </section>

       <section class="hero">
        <div class="hero-content">
        <h2>Campanhas e Ações de Conscientização</h2>
        <p>
            Realizamos frequentemente <strong>campanhas de vacinação</strong> nos bairros da cidade e também em nossa unidade, garantindo saúde e proteção aos animais e seus tutores. Além disso, promovemos ações de <strong>castração gratuita</strong> ou a baixo custo,
        contribuindo para o controle populacional e a saúde e bem-estar animal.
        </p>

        <p>
            Nos preocupamos com a <strong>saúde e qualidade de vida</strong> dos animais, por isso estamos sempre presentes em praças, parques e eventos da cidade. Nessas ocasiões, aprensentamos nosso trabalho por meio de <strong>folhetos educativos</strong>,<strong>palestras curtas</strong> e <strong>atividades informativas</strong> sobre guarda responsável, respeito e empatia pelos animais.
 
        </p>
            Também oferecemos <strong>assistência veterinária básica</strong> a pets visitantes e promovemos <strong>campanhas de adoção responsável</strong>, ajudando cães e gatos a encontrarem um lar cheio de amor.
        <p>
        Além disso, nossa equipe atua no <strong>resgate de animais em situação de risco</strong> ou maus-tratos, 
        garantindo acolhimento, tratamento e a chance de uma nova vida.
    </p>
</section>
   <section class="galeria-fotos">
   <h2>Galeria de Fotos</h2>
   <div class="fotos-container">
    <div class="project-photo">
      <img src="img/adoção1.jpg" alt="cachorros filhotes em grade esperando adoção">
    </div>
    <div class="project-photo">
      <img src="img/cuidados gato.jpg" alt="gato resgatado recebendo cuidados veterinários">
    </div>
    <div class="project-photo">
      <img src="img/parque.jpg" alt="ação em parque com famílias brincando com os animais">
    </div>
    <div class="project-photo">
      <img src="img/voluntarios resgatando cachorros.jpg" alt="voluntarios resgatando cachorros">
    </div>
    <div class="project-photo">
      <img src="img/vacinação gato.jpg" alt="gato sendo vacinado">
    </div>
  </div>
</section>
    
       </section>